<!-- <div class="card flex justify-content-center">
    <a 
      href="https://virtualringsmartsolutions.com/services-2/" 
      class="btn w-full btn-orange text-truncate rounded-0 py-2 border-0 position-relative" 
      style="z-index: 1000;">
      <strong>Created By:</strong> Virtualring Smart Solution (PVT)
    </a>
  </div> -->
  
  <div class="card flex justify-content-center mt-1" style="background-color: #000957;">
    <div class="layout-topbar flex items-center justify-between px-4 py-2">
      <!-- Logo Section -->
      <div class="sidebar__logo">
        <a routerLink="/admindashboard">
          <img src="/assets/logo.png" alt="Logo" class="logo-img">
        </a>
      </div>
  
      <!-- Actions Section -->
      <div class="flex items-center gap-4">
        <!-- Notifications -->
        <a href="#" class="notification-icon relative">
          <i class="pi pi-bell text-2xl"></i>
          <span class="badge">10</span>
        </a>
  
        <!-- Logout -->
        <a href="#" (click)="onLogout()" class=" text-sm font-semibold text-gray-900" style="text-decoration: none;">
          Log out <span aria-hidden="true">&rarr;</span>
        </a>
      </div>
    </div>
  </div>
  