    <div class="card-main" >
      <div class="card-img">
        <img src="/assets/hh.png" alt="" style="background-color: aqua;">
      </div>
      <div class="card-content">
        <div class="flex">
          <a routerLink="/system-profile" class="router-link">
            <h3 class="card-title">
              Saloon 
              <p-rating class="" [(ngModel)]="values" [cancel]="false"></p-rating>
            </h3>
          </a>
                    <div class="mt-1">
            <ul class="side-nav1" style=" justify-content: start;">

              <li class="side-nav__item1" style=" display: flex; ">
                <img src="/assets/video.png" alt="" width="40px">
              </li>


            </ul>

          </div>

        </div>
        <p-chip label="Angular 15" class="mr-2"></p-chip>
        <p-chip label="Spring Boot" class="mr-2"></p-chip>
        <p-chip label="Mysql" class="mr-2"></p-chip>

        <p class="card-description">
          cinccino magikarp and riolu. Clefable woobat
          litwick weezing carracosta foongus pidove simisear scyther wooper,
          toxicroak riolu farfetch. Wurmple sandshrew, dragonair totodile.
          Azelf wailmer sableye golduck glaceon trapinch wartortle, nincada
          illumise. Grotle, gallade cleffa starly baltoy aerodactyl. Durant d
          eerling meowth drilbur larvitar krabby joltik spearow vanilluxe electrode

        </p>

        <ul class="side-nav1" style=" justify-content: start;">

          <li class="side-nav__item1 " style=" display: flex;">
            <img src="/assets/shopping-bag.png" alt="" width="40px">

          </li>

        </ul>




      </div>
    </div>
    
    <div class="card-main">
      <div class="card-img">
        <img src="/assets/hh.png" alt="">
      </div>
      <div class="card-content">
        <div class="flex">
          <h3 class="card-title">Saloon <p-rating class="" [(ngModel)]="values" [cancel]="false"></p-rating></h3>
          <div class="mt-1">
            <ul class="side-nav1" style=" justify-content: start;">

              <li class="side-nav__item1" style=" display: flex; ">
                <img src="/assets/video.png" alt="" width="40px">
              </li>


            </ul>

          </div>

        </div>
        <p-chip label="Angular 15" class="mr-2"></p-chip>
        <p-chip label="Spring Boot" class="mr-2"></p-chip>
        <p-chip label="Mysql" class="mr-2"></p-chip>

        <p class="card-description">
          cinccino magikarp and riolu. Clefable woobat
          litwick weezing carracosta foongus pidove simisear scyther wooper,
          toxicroak riolu farfetch. Wurmple sandshrew, dragonair totodile.
          Azelf wailmer sableye golduck glaceon trapinch wartortle, nincada
          illumise. Grotle, gallade cleffa starly baltoy aerodactyl. Durant d
          eerling meowth drilbur larvitar krabby joltik spearow vanilluxe electrode

        </p>

        <ul class="side-nav1" style=" justify-content: start;">

          <li class="side-nav__item1 " style=" display: flex;">
            <img src="/assets/shopping-bag.png" alt="" width="40px">

          </li>

        </ul>




      </div>
    </div>

